/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* background-color: black; */
    position: fixed;
    top: 0;
    width: 100%;
    backdrop-filter: blur(100px);

}

nav button{
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1.5rem;
}
.navigation {
    position: absolute;
    top: 20vh;
    right: 1.5rem;
    padding: 2rem;
    text-align: right;
    margin: 0;
    z-index: 5;
    box-shadow: 3px 2px 4px .3px rgb(255, 255, 255);
    border-radius: 16px;
    display: none;
}
ul{
    font-size: 1.5rem;
    list-style: none;
    line-height: 2;
}
.nav-item.active{
    border-bottom: 1px solid white;
}
.btn-group{
    display: flex;
    gap: 10px;
}
button{
    height: 44px;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.primarybutton{
    background: #0582CA;
    color: aliceblue;
}
.nav-item:hover{
    border-bottom: 1px solid;
}
button:hover{
    cursor: pointer;
}
.primarybutton:hover{
    background: #025e94;
}
.logIn:hover{
    background-color: #0582CA;
}

/* Hero */
.hero{
    margin-top: 70px;
    padding: 1rem;
}
.heroImgContainer{
    max-width: 450px;
    max-height: 550px;
}
.heroImage{
    width: 100%;
    margin-bottom: 1rem;
}
.heroHeader{
    font-family: DM Sans;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1rem;
}
.heroText{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1rem;
}