.text-white{
    color: #fff;
}
.text-blue{
    color: #003554;
}
.text-grey{
    color: #696969;
}
body{
    width: 100%;
    height: 100vh;
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

}

nav button{
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1.5rem;
}
.navigation {
    position: absolute;
    top: 10vh;
    right: 40px;
    max-width: 300px;
    padding: 2rem;
    text-align: right;
    margin: 0;
    z-index: 5;
    border: 1px solid black;
    background-color: #fff;
    box-shadow: 3px 2px 4px .3px rgb(105, 86, 86);
    border-radius: 16px;
    /* display: none; */
}
.nav-item{
    font-size: 18px;
}
ul{
    font-size: 1.5rem;
    list-style: none;
    line-height: 3;
}
.nav-item.active{
    border-bottom: 1px solid white;
}
.btn-group{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.btn-group button{
    font-size: 18px;
}
button{
    height: 44px;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: max-content;
}

.primarybutton{
    background: #0582CA;
    color: aliceblue;
}
.nav-item:hover{
    border-bottom: 1px solid;
}
button:hover{
    cursor: pointer;
}
.primarybutton:hover{
    background: #025e94;
}
.logIn:hover{
    background-color: #0582CA;
}

/* Hero */
.hero{
    margin-top: 70px;
    padding: 1rem;
    margin-bottom: 1rem;
}
.heroImgContainer{
    max-width: 450px;
    max-height: 550px;
}
.heroImage{
    width: 100%;
    margin-bottom: 1rem;
}
.aboutOhms{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.heroHeader{
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #003554;

}
.heroText{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #696969;

}


/* STAT */
.stat{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.statItem{
    display: grid;
    text-align: center;
}
.statNumber{
    font-family: DM Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
}
.statDetail{
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    color: #696969;
}

/* APARTMENTS */
::placeholder{
    color: #696969;
}
.apartments{
    padding: 0 1rem;
}
.SearchContainer{
    background: #003554;
    border-radius: 20px;
    padding: 2rem;
    color: aliceblue;
    display: grid;
    gap: 1.5rem;
}
.searchheader{
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
}
.inputField, .inputField2{
    display: flex;
    margin-bottom: 1rem;
}
.inputIcon, .inputIcon2{
    transform: translateX(-20px);
    display: flex;
    align-items: center;
}
.inputIcon2{
    transform: translateX(-5px);

}
.input,.input2{
    padding: 17.5px 20px;
    background: #FFFFFF;
    border-radius: 40px;
    border: none;
    width: 100%;
    margin-right: -24px;
}
.input2{
    margin-right: -122px;
    padding: 20px 135px 20px 20px;
}
.secondaryHeader{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    margin: 2rem 0 2rem;
    color:#003554

}
.card{
    background: #FFFFFF;
    border: 1px solid #003554;
    border-radius: 20px;
    margin-bottom: 1rem;
    max-width: 360px;
}
.cardImage{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.cardDetails{
    padding: 1rem;
    background: #fff !important;
    border-radius: 20px;
}
.aptLocation{
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #003554;
}
.metaInfoContainer{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #696969;
}
.apartmentMeta{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
.metaCta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.aptPrice{
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0em;
    color: #003554;
}

/* REASONS| */
.blueSection{
    padding: 1rem;
    padding-bottom: 3rem;
    background: #003554;
}
.blueSection h3, h4{
    color: #fff !important;
}
.reasons{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.checks{
    margin-top: 1rem;
}
.whyCheck{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 1.5rem;
    margin-bottom: 1rem;
    color: #003554 !important;
}
.whycheck2{
    width: 75%;
}
.whycheck3{
    width: 65%;
}
.checkicon{
    max-width: 30px;
}
.sectionImg{
    width: 100%;
}

/* TESTIMONIALS */
.testimonial{
    margin-top: 3rem;
}
.testimonialCards{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.testimonialCard{
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem;
    display: grid;
    gap: 1rem;
}
.cardHeader{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.cardtestimonial{
    display: grid;
    gap: .5rem;
}
.rating{
    display: flex;
    justify-content: flex-end;
    gap: .5rem;
    align-items: center;
}

/* FREQUENTLY ASKED QUESTIONS */
.faqSection{
    padding: 2rem 1rem;
}
.faqHeader{
    display: grid;
    gap: 1rem;
}
.faqHeader h5 {
    margin: 0;
}
.faqcards{
    margin-top: 2rem;
}
.faqcard{
    border-bottom: 0.2px solid #696969;
    padding: 1rem;
}
.faqcard div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 1rem;
}
.question{
    font-weight: 500;
}

/* FOOTER */
.footer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column
}
.subscribe{
    display: grid;
    gap: 1rem;
    margin-bottom: 1rem;
}
.footlink{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 400;
}
.footlinks p{
    font-size: 1.3rem;
    margin-bottom: .5rem;
}
.footlist li{
    font-size: 1rem;
}
.footnote{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* The END */